

/* COLOR VARIABLES */


$main-bg-color: rgb(49, 49, 49);
$main-bg-color2:rgb(33, 33, 33);
$main-text-color: #ffff;
$accent-color: rgb(26, 135, 238);
$accent-color2: rgb(9, 87, 161);
$green-color:rgb(12, 141, 12);
$green-color2:rgb(0, 163, 0);
$red-color:rgb(171, 9, 9);
$red-color2:rgb(211, 0, 0);
